<!DOCTYPE html>
<html>

<head>
  <title></title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="flex justify-center mt-10">
      <table class="table-fixed border border-slate-400 w-1/2 text-center">
        <tr class="bg-sky-300">
          <td class="border border-slate-300">NAMA</td>
          <td class="border border-slate-300">KELAS</td>
        </tr>
        <% if(data !='' ) { %>
          <% data.forEach((datas)=> { %>
            <tr>
              <td class="border border-slate-300">
                <%- datas.nama %>
              </td>
              <td class="border border-slate-300">
                <%- datas.kelas %>
              </td>
            </tr>
            <% }) %>
        <% } %>
      </table>
    </div>
</body>

</html>